<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar" id="sidebar">
            <h2>Easy Booking</h2>
            <nav>
                <ul>
                    <li id="book-room-nav" class="active">
                        <a href="#">
                            <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                            Book Room
                        </a>
                    </li>
                    <li id="my-bookings-nav">
                        <a href="./mybookings">
                            <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                            My Bookings
                        </a>
                    </li>
                    <li id="all-reservations-nav">
                        <a href="./allreservations">
                            <img src="../../static/icon/all_reservations.svg" class="icon" alt="All Reservations Icon">
                            All Reservations
                        </a>
                    </li>
                    <li id="room-management-nav">
                        <a href="./management">
                            <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                            Room Management
                        </a>
                    </li>
                    <li id="approval-request-nav">
                        <a href="./approval">
                            <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                            Approval Request
                        </a>
                    </li>
                    <li id="room-issue-nav">
                        <a href="./issue">
                            <img src="../../static/icon/room_issue.svg" class="icon" alt="Room Issue Icon">
                            Room Issue
                        </a>
                    </li>
                    <li id="report-nav">
                        <a href="./report">
                            <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                            Report
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="profile-container">
                <div class="profile">
                    <!-- <img src="../../static/icon/profile.svg" class="icon" alt="Logout Icon"> -->
                    Welcome, Chengyang Zhu(student)!
                </div>
                <a href="/auth/logout" class="sidebar-item">
                    <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                    Logout
                </a>
            </div>
        </aside>

        <main>
            <header>
                <div class="menu-backdrop" onclick="toggleMenu()"></div>
                <button class="menu-btn hamburger" onclick="toggleMenu()" id="menu-btn">☰</button>
                <nav id="sideMenu">
                    <div class="sidebar-brand">Easy Booking</div>

                    <button class="close-btn" onclick="toggleMenu()">
                        <i class="fas fa-times"></i>
                        ×
                    </button>

                    <div class="item-container">
                        <div class="menu-item">
                            <a href="#" class="sidebar-item">
                                <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                                Book Room
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./mybookings" class="sidebar-item">
                                <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                                My Bookings
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./allreservations" class="sidebar-item">
                                <img src="../../static/icon/all_reservations.svg" class="icon" alt="All Reservations Icon">
                                All Reservations
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./management" class="sidebar-item">
                                <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                                Room Management
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./approval" class="sidebar-item">
                                <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                                Approval Request
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./issue" class="sidebar-item">
                                <img src="../../static/icon/room_issue.svg" class="icon" alt="Room Issue Icon">
                                Room Issue
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./report" class="sidebar-item">
                                <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                                Report
                            </a>
                        </div>
                        <div class="menu-item" style="position: absolute; bottom: 80px;">
                            <a href="/auth/logout" class="sidebar-item">
                                <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                                Logout
                            </a>
                        </div>
                    </div>


                </nav>
                <h1 id="page-title">Book Room</h1>
            </header>

            <div class="search-bar">
                <button class="filter-btn" id="filter-btn">Filter</button>
                <button class="filter-btn" id="report-btn">Report Issue</button>
                <label id="filter-date" class="checking-date-label"></label>
            </div>

            <div id="loading-item">
                <svg class="loading-box" viewBox="25 25 50 50">
                    <circle class="loading-circle" r="20" cy="50" cx="50"></circle>
                </svg>
                <p id="loading-hint">Loading Rooms...</p>
            </div>

            <section id="book-room-section" class="content-section">


                <div class="room-list" id="room-list">

                </div>
            </section>
        </main>
    </div>

    <!-- Booking Modal -->
    <div class="booking-modal hidden" id="booking-modal">
        <div class="booking-content">
            <h2>Book Room</h2>
            <div class="booking-group">

            </div>
            <div class="booking-group">
                <label class="booking-label">Time Slots:</label>
                <div class="time-slots">
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="0">
                        8:00~8:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="1">
                        8:55~9:40</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="2">
                        10:00~10:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="3">
                        10:55~11:40</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="4">
                        14:00~14:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="5">
                        14:55~15:40</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="6">
                        16:00~16:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="7">
                        16:55~17:40</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="8">
                        19:00~19:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="9">
                        19:55~20:40</label>
                </div>
            </div>
            <button class="apply-btn" id="confirm-booking">Confirm Booking</button>
        </div>
    </div>

    <!-- Report Modal -->
    <div class="filter-modal" id="report-modal">
        <div class="filter-content">
            <h2>Report Issue</h2>
            <textarea class="input" type="text" id="issue" placeholder="Enter Issue"
                style="height: 100px; overflow: auto; resize: none;"></textarea>
            <button class="apply-btn" id="apply-report">Report</button>
        </div>
    </div>


    <!-- Filter Modal -->
    <div class="filter-modal" id="filter-modal">
        <div class="filter-content">
            <h2>Filter Rooms</h2>
            <div class="filter-group">
                <label class="filter-label" for="capacity">Capacity:</label>
                <div class="capacity-inputs">
                    <input type="number" id="capacity-min" placeholder="Min" min="1">
                    <span>~</span>
                    <input type="number" id="capacity-max" placeholder="Max" min="1">
                </div>
            </div>
            <div class="filter-group">
                <label class="filter-label" for="booking-date">Date:</label>
                <input type="date" id="booking-date" class="input">

            </div>
            <div class="filter-group">
                <label class="filter-label">Equipment:</label>
                <div id="equipment"></div>
            </div>

            <div class="input-box">
                <label class="filter-label">Issue:</label>
                <select id="issue-select">
                    <option value="" disabled selected>Select room condition</option>
                    <option value="2">All rooms</option>
                    <option value="0">Rooms without issue</option>
                    <option value="1">Rooms with issue</option>
                </select>
            </div>


            <button class="apply-btn" id="apply-filter">Apply Filters</button>
        </div>



        <script src="../../static/js/booking.js"></script>
        <script src="../../static/js/mobile.js"></script>
</body>

</html>