<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar" id="sidebar">
            <h2>Easy Booking</h2>
            <nav>
                <ul>
                    <li id="book-room-nav">
                        <a href="./bookroom">
                            <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                            Book Room
                        </a>
                    </li>
                    <li id="my-bookings-nav">
                        <a href="#">
                            <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                            My Bookings
                        </a>
                    </li>
                    <li id="all-reservations-nav">
                        <a href="./allreservations">
                            <img src="../../static/icon/all_reservations.svg" class="icon" alt="All Reservations Icon">
                            All Reservations
                        </a>
                    </li>
                    <li id="room-management-nav">
                        <a href="./management">
                            <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                            Room Management
                        </a>
                    </li>
                    <li id="approval-request-nav">
                        <a href="./approval">
                            <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                            Approval Request
                        </a>
                    </li>
                    <li id="room-issue-nav" class="active">
                        <a href="#">
                            <img src="../../static/icon/room_issue.svg" class="icon" alt="Room Issue Icon">
                            Room Issue
                        </a>
                    </li>
                   <li id="report-nav">
                       <a href="./report">
                           <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                           Report
                       </a>
                   </li>
                </ul>
            </nav>
            
            <div class="profile-container">
                <div class="profile" style="padding:0 10px 0 5px;">
                    <img src="../../static/icon/profile.svg" class="icon" alt="Logout Icon">
                    Loading...        
                </div>
                <a href="/auth/logout" class="sidebar-item">
                    <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                    Logout
                </a>
            </div>
        </aside>

        <main>
            <header>
                <div class="menu-backdrop" onclick="toggleMenu()"></div>
                <button class="menu-btn hamburger" onclick="toggleMenu()" id="menu-btn">☰</button>
                <nav id="sideMenu">
                    <div class="sidebar-brand">Easy Booking</div>

                    <button class="close-btn" onclick="toggleMenu()">
                        <i class="fas fa-times"></i>
                        ×
                    </button>

                    <div class="item-container">
                        <div class="menu-item">
                            <a href="./bookroom" class="sidebar-item">
                                <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                                Book Room
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./mybookings" class="sidebar-item">
                                <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                                My Bookings
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./allreservations" class="sidebar-item">
                                <img src="../../static/icon/all_reservations.svg" class="icon" alt="All Reservations Icon">
                                All Reservations
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./management" class="sidebar-item">
                                <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                                Room Management
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./approval" class="sidebar-item">
                                <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                                Approval Request
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="#" class="sidebar-item">
                                <img src="../../static/icon/room_issue.svg" class="icon" alt="Room Issue Icon">
                                Room Issue
                            </a>
                        </div>
                        <div class="menu-item">
                            <a href="./report" class="sidebar-item">
                                <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                                Report
                            </a>
                        </div>
                        <div style="position: absolute; bottom: 120px; padding-left: 12px;">
                            <div class="profile">
                                <img src="../../static/icon/profile.svg" class="icon" alt="Logout Icon">
                                Loading...
                            </div>
                        </div>
                        <div class="menu-item" style="position: absolute; bottom: 80px;">
                            <a href="/auth/logout" class="sidebar-item">
                                <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                                Logout
                            </a>
                        </div>
                    </div>
                </nav>

                <h1 id="page-title">Reported Room Issues</h1>
            </header>

            <div id="loading-item">
                <svg class="loading-box" viewBox="25 25 50 50">
                    <circle class="loading-circle" r="20" cy="50" cx="50"></circle>
                </svg>
                <p id="loading-hint">Loading Issues...</p>
            </div>

            <section id="issue-section" class="content-section">
                <div class="issue-list">
                </div>
            </section>

        </main>
    </div>
   
    
    <script src="../../static/js/issue.js"></script>
    <script src="../../static/js/mobile.js"></script>
</body>

</html>