<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar" id="sidebar">
            <h2>Easy Booking</h2>
            <nav>
                <ul>
                    <li id="book-room-nav">
                        <a href="#book-room">
                            <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                            Book Room
                        </a>
                    </li>
                    <li id="my-bookings-nav">
                        <a href="#my-bookings">
                            <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                            My Bookings
                        </a>
                    </li>
                    <li id="room-management-nav" class="active">
                        <a href="#room-management">
                            <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                            Room Management
                        </a>
                    </li>
                    <li id="approval-request-nav">
                        <a href="./approval">
                            <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                            Approval Request
                        </a>
                    </li>
                    <li id="report-nav">
                        <a href="#report">
                            <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                            Report
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="#report" class="logout">
                <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                Logout
            </a>
        </aside>

        <main>
            <header>
                <button class="menu-btn" id="menu-btn">☰</button>
                <h1 id="page-title">Room Management</h1>
            </header>

            <section id="room-management-section" class="content-section">
                <div class="room-management">
                    <button class="action-btn" id="add-room-btn">Add Room</button>
                    <div class="room-list">
                    </div>
                </div>
            </section>

        </main>
    </div>

    <!-- Add Modal -->
    <div class="add-room-modal hidden" id="add-room-modal">
        <div class="add-room-content">
            <h2>Add Room</h2>
            <div class="add-room-group">
                <label class="add-room-label" for="add-room-date">Room Name:</label>
                <input type="text" id="input-add-room-name" class="input">
            </div>
            <div class="add-room-group">
                <label class="add-room-label">Capacity:</label>
                <input type="number" id="add-room-capacity" placeholder="" min="1">
            </div>
            <div class="add-room-group">
                <label class="add-room-label">Equipment:</label>
                <div id="add-room-equipment">
                </div>
                <label class="add-room-label">New Equipment:</label>
                <input type="text" id="add-room-new-equipment" class="input">
            </div>
            <div>
                <label class="add-room-label">Constrain:</label>
                <input type="text" id="input-add-room-constrain" class="input">
            </div>
            <button class="apply-btn" id="apply-add-room-btn">Add</button>
        </div>
    </div>

    <!-- Modify Modal -->
    <div class="modify-room-modal hidden" id="modify-room-modal">
        <div class="modify-room-content">
            <h2>Modify Room</h2>
            <div class="modify-room-group">
                <label class="modify-room-label" for="modify-room-date">Room Name:</label>
                <input type="text" id="input-modify-room-name" class="input">
            </div>
            <div class="modify-room-group">
                <label class="modify-room-label">Capacity:</label>
                <input type="number" id="modify-room-capacity" placeholder="" min="1">
            </div>
            <div class="modify-room-group">
                <label class="modify-room-label">Equipment:</label>
                <div id="modify-room-equipment">
                </div>
                <p>New Equipment:</p>
                <input type="text" id="modify-room-new-equipment" class="input">
            </div>
            <div>
                <label class="modify-room-label">Constrain:</label>
                <input type="text" id="input-modify-room-constrain" class="input">
            </div>
            <button class="apply-btn" id="apply-modify-room-btn">Modify</button>
        </div>
    </div>
    
    <script src="../../static/js/management.js"></script>
</body>

</html>