<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Booking</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar" id="sidebar">
            <h2>Easy Booking</h2>
            <nav>
                <ul>
                    <li id="book-room-nav">
                        <a href="./bookroom">
                            <img src="../../static/icon/book_room.svg" class="icon" alt="Book Room Icon">
                            Book Room
                        </a>
                    </li>
                    <li id="my-bookings-nav" class="active">
                        <a href="#">
                            <img src="../../static/icon/my_bookings.svg" class="icon" alt="My Bookings Icon">
                            My Bookings
                        </a>
                    </li>
                    <li id="all-reservations-nav">
                        <a href="./allreservations">
                            <img src="../../static/icon/room_management.svg" class="icon" alt="All Reservations Icon">
                            All Reservations
                        </a>
                    </li>
                    <li id="room-management-nav">
                        <a href="./management">
                            <img src="../../static/icon/room_management.svg" class="icon" alt="Room Management Icon">
                            Room Management
                        </a>
                    </li>
                    <li id="approval-request-nav">
                        <a href="./approval">
                            <img src="../../static/icon/approval_request.svg" class="icon" alt="Approval Request Icon">
                            Approval Request
                        </a>
                    </li>
                    <li id="report-nav">
                        <a href="#report">
                            <img src="../../static/icon/report.svg" class="icon" alt="Reports Icon">
                            Report
                        </a>
                    </li>
                </ul>
            </nav>
            <a href="/auth/logout" class="logout">
                <img src="../../static/icon/logout.svg" class="icon" alt="Logout Icon">
                Logout
            </a>
        </aside>

        <main>
            <header>
                <button class="menu-btn" id="menu-btn">☰</button>
                <h1 id="page-title">My Bookings</h1>
            </header>
            <div class="export-bar">
                    <button class="export-btn" id="export-all-btn">Export All</button>
                    <button class="export-btn" id="export-selected-btn">Export Selected</button>
            </div>
            <section id="my-bookings-section" class="content-section">
                <div class="booking-list">
                   
                </div>
            </section>

        </main>
    </div>

    <!-- Modify Modal -->
    <div class="booking-modal hidden" id="modify-modal">
        <div class="booking-content">
            <h2>Book Room</h2>
            <div class="booking-group">
                <label class="booking-label">Date:</label>
                <label class="checking-date-label" id="check-modify-date"></label>
            </div>
            <div class="booking-group">
                <label class="booking-label">Time Slots:</label>
                <div class="time-slots">
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="0"> 8:00~8:45</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="1"> 8:55~9:40</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="2"> 9:50~10:35</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="3"> 10:45~11:30</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="4"> 11:40~12:25</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="5"> 12:35~13:20</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="6"> 13:30~14:15</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="7"> 14:25~15:10</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="8"> 15:20~16:05</label>
                    <label class="date_label"><input type="checkbox" name="time-period" class="ui-checkbox" value="9"> 16:15~17:00</label>
                </div>
            </div>
            <button class="apply-btn" id="apply-modify">Modify Booking</button>
        </div>
    </div>
   
    
    <script src="../../static/js/mybookings.js"></script>
</body>

</html>